[req]
default_bits = 4096
default_keyfile = server.key
distinguished_name = req_distinguished_name
req_extensions = req_ext

[req_distinguished_name]
countryName = Country Name (2 letter code)
stateOrProvinceName = State or Province Name (full name)
localityName = Locality Name (e.g. city)
organizationalUnitName = Organizational Unit Name (e.g. section)
commonName = Common Name (e.g. server FQDN or YOUR name)
emailAddress = Email Address

[req_ext]
subjectAltName = @alt_names

[alt_names]
DNS.1 = localhost
IP.1 = 10.0.2.2